/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.badgeOuter {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 6px solid #4169e1;
    width: 700px;
    height: 500px;
    position:  relative;
}

.badgeInner {
    padding: 20px;
    }

.text {
    font-size: 64px;
    font-family: arial;
    text-align: center;
    padding-top: 30px;
}

.name {
    font-size: 1.4em;
    color: blue;
    padding: 30px;
}

.logo {
    background-image: url("SDG-Logo-Small.png");
    width: 75px;
    height: 70px;
    position: absolute;
    top: 30px;
    left: 30px;
}

form {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    width: 50%;
    background-color: #87ceeb;
}

*[class^="icon-"] {
    width: 1em;
    padding-right: 10px;
    float: left;
}

.input-append {
    font-size: 1em;
}