<div class="row">
    <div class="span12">
        <button class="btn" ng-click="showForm=true" ng-hide="showForm">Add</button>
        <form name="toDoForm" class="form-horizontal" ng-show="showForm">
            <fieldset>
                <legend>Add Todo Item -- Valid Form:{{toDoForm.$valid}}</legend>



                <div class="control-group">

                    <label class="control-label" for="Subject">
                        <span style="float: right; padding-left: 5px;"><i class="icon-edit"></i><i class="icon-asterisk"></i></span>
                        Subject</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="Subject" id="Subject" ng-model="Subject" placeholder="Subject" required>
                    </div>
                </div>

                <div class="control-group input-append">
                    <label class="control-label" for="Date">
                        <span style="float: right; padding-left: 5px;"><i class="icon-calendar"></i><i class="icon-asterisk"></i></span>

                        Date</label>
                    <div class="controls">
                        <input type="text" ng-model="Date" id="Date" name="Date" placeholder="Date" required data-date-format="mm/dd/yyyy" class="input-small criterion-value" ng-pattern="/^(?:[0]?[1-9]|[1][012])[\/](?:(?:[0-2]?[0-9]{1})|(?:[3][01]{1}))[\/](?:(?:[1]{1}[0-9]{1}[0-9]{1}[0-9]{1})|(?:[2]{1}[0-9]{3}))(?![[0-9]])$/" bs-datepicker />
                        <div class="control-group error help-inline"  ng-hide='Date.length > 0'>
                            <span class="help-inline">Valid date is required</span>
                        </div>
                    </div>
                </div>
                <div>
                <button class="btn " type="submit" ng-click="toDoForm.$valid && addItem()">Set</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>